name: LibGDX Workflow

on:
  workflow_dispatch:   
  # execução manual
  push:
    branches: [ main ] 
    # dispara em push para main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Ensure Gradlew is executable
      run: chmod +x ./gradlew

    - name: Build and Download Dependencies
      run: ./gradlew build --refresh-dependencies

    - name: Copy All Dependencies
      run: ./gradlew copyAllDependencies

    - name: Generate Reports
      run: ./gradlew generateReport

    - name: Upload All Libs
      uses: actions/upload-artifact@v4
      with:
        name: libgdx-libs
        path: build/all-libs/

    - name: Upload Individual Libs
      uses: actions/upload-artifact@v4
      with:
        name: libgdx-individual
        path: build/libs-individual/

    - name: Upload Reports
      uses: actions/upload-artifact@v4
      with:
        name: libgdx-reports
        path: build/libs-report.txt