name: LibGDX Liftoff Workflow

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        cache-disabled: false
        gradle-home-cache-includes: wrapper,dists,caches

    - name: Ensure Gradlew is executable
      run: chmod +x ./gradlew

    - name: Build Project
      run: ./gradlew build --refresh-dependencies
      # Liftoff já garante dependências corretas, então basta rodar o build

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: libgdx-build
        path: build/libs/